/* Global styles */
body {
    font-family: Arial, sans-serif;
    background-color: #f4f4f4;
    margin: 0;
    padding: 0;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 100vh;
}

/* Header and navigation */
header {
    background-color: #4CAF50;
    width: 100%;
    padding: 10px 0;
}

header nav ul {
    list-style: none;
    text-align: center;
    margin: 0;
    padding: 0;
}

header nav ul li {
    display: inline-block;
    margin: 0 15px;
}

header nav ul li a {
    color: white;
    text-decoration: none;
    font-size: 18px;
}

/* Form styles */
form {
    background-color: white;
    padding: 20px;
    border-radius: 8px;
    box-shadow: 0px 4px 8px rgba(0, 0, 0, 0.1);
    width: 300px;
}

form div {
    margin-bottom: 10px;
}

form label {
    font-weight: bold;
    display: block;
}

form input, form select, form button {
    width: 100%;
    padding: 8px;
    margin-top: 5px;
}

form button {
    background-color: #4CAF50;
    color: white;
    border: none;
    cursor: pointer;
}

form button:hover {
    background-color: #45a049;
}

.card input:checked + label {
    background-color: #007bff;
    color: white;
}

.card-link:hover {
    background-color: #f8f9fa;
    cursor: pointer;
}


/* Error message */
.error {
    color: red;
    font-size: 14px;
}

/* Footer */
footer {
    text-align: center;
    margin-top: 20px;
    font-size: 12px;
    color: #666;
}
